.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .team-member {
    margin: 20px;
    text-align: center;
    width: 350px;
    border: solid 2px black;
    border-radius: 4px;
  }
  
  .team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  .image{
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .dark{
    background-color: black;
    color: white;
  }
  .light{
    background-color: yellow;
    color: black;
  }
  @import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');

.barrio-regular {
  font-family: "Barrio", serif;
}
